Szanowna Pani/ Szanowny Panie <%= @submission.person.surname %>
 informujemy, że przesłane zgłoszenie: <%= @submission.title %> zostało przyjęte do systemu oraz zostało utworzone konto w systemie Rocznika 
Kognitywistycznego. Tymczasowe hasło podane poniżej można zmienić w panelu ustawień systemu.

 email: <%=@submission.person.email%>
 hasło:

Z wyrazami szacunku,
Zespół Rocznika Kognitywistycznego
