=simple_form_for @simplemail, url: send_email_path do |f|
  = f.input :addressee, label: "Do:"
  = f.input :subject, label: "Tytuł"
  = f.input :body, label: "Treść"
  //= f.input :sender, label: "Od"
  = f.submit "Wyślij", class: %w{btn btn-primary btn-outline}

