= simple_form_for @issue do |f|
  = f.input :year, label: "Rok"
  = f.input :volume, label: "Numer"
  - label = @issue.new_record? ? "Utwórz" : "Zapisz"
  = f.submit label, class: %w{btn btn-primary btn-outline}
