= simple_form_for @issue, :url => url_for(:controller => 'issues', :action => 'prepare') do |f|
   = f.association :submissions, label: "Wybierz artykuły do wydania", collection: @issue.submissions.where(status: "przyjęty"), include_blank: false, label_method: :polish_title, :as => :check_boxes
   - label = "Zapisz"
   = f.submit label, class: %w{btn btn-primary btn-outline}
