:javascript
  $(document).ready(function () {
    $('.fa-chevron-up').click(function () {
      ajax_on_demand($(this), -1);
    });

    $('.fa-chevron-down').click(function () {
      ajax_on_demand($(this), 1);
    });
  });

  function ajax_on_demand(item, direction) {
    $.ajax({
      method: 'PATCH',
      url: get_base_url() + "/articles/" + parseInt($(item).siblings('.article-id').text()),
      dataType: 'json',
      data: JSON.stringify({issue_position: parseInt($(item).siblings('.issue-position').text())+direction}),
      headers: {
          "Content-type":"application/json"
      },
      success: function(rails_response) {
        if (rails_response.ok) {
          update_position_values($(item), direction);
          update_queue($(item), rails_response.ok);
        }
      },
      error: function() {
        return false;
      }
    });
  }

  function update_queue(item) {
    var article = $(item).parent().parent();
    var sibling = $(item).attr('id') == "article-up" ? $(item).parent().parent().prev() : $(item).parent().parent().next();
    $(item).attr('id') == "article-up" ? $(sibling).before(article) : $(sibling).after(article);
  }

  function update_position_values(item, direction) {
    var clicked_article = $(item).siblings('.issue-position');
    var halp = clicked_article.text();

    var parent_sibling = $(item).parent().parent();
    if (direction >= 1) {
      var article_position = parent_sibling.next().children().children('.issue-position');
      clicked_article.text(article_position.text());
      article_position.text(halp);
    } else {
      article_position = parent_sibling.prev().children().children('.issue-position');
      clicked_article.text(article_position.text());
      article_position.text(halp);
    }
  }

  function get_base_url() {
    return location.origin;
  }
