:javascript
  $(document).ready(function () {
    $('.fa-chevron-up').click(function () {
      ajax_on_demand($(this));
    });

    $('.fa-chevron-down').click(function () {
      ajax_on_demand($(this));
    });
  });

  function ajax_on_demand(item) {
    $.ajax({
      method: 'PATCH',
      url: get_base_url() + "/articles/position",
      dataType: 'json',
      data: JSON.stringify({submission_id: parseInt($(item).siblings('.article-queue-id').text()),
                            article_position: $(item).attr('id'),
                            issue_volume: parse_issue_volume(),
                            issue_year:  parse_issue_year()}),
      headers: {
          "Content-type":"application/json"
      },
      success: function(rails_response) {
        update_queue($(item), rails_response.ok);
      },
      error: function() {
        return false;
      }
    });
  }

  function update_queue(item, rails_response) {
    if (rails_response) {
      var article = $(item).parent().parent();
      var sibling = $(item).attr('id') == "article-up" ? $(item).parent().parent().prev() : $(item).parent().parent().next();
      $(item).attr('id') == "article-up" ? $(sibling).before(article) : $(sibling).after(article);
    }
  }

  function parse_issue_volume() {
    var volume = parse_issue_url();
    return volume[0].toString();
  }

  function parse_issue_year() {
    var year = parse_issue_url();
    return year[year.length-1].toString();
  }

  function parse_issue_url() {
    var url = $(location).attr('href').split('/');
    return url[url.length-1].split('-');
  }

  function get_base_url() {
    return location.origin;
  }
