.scroll-panel-header
  = link_to "Anuluj", @issue, class: %w{btn btn-default btn-sm pull-right}
  %h3.scroll-panel-title Przygotuj numer do wydania
.scroll-panel-body
  = render partial: "prepareForm"

