.scroll-panel-header
  %h3.scroll-panel-title Publikowane artykuły
.scroll-panel-body
  %table.table.table-hover.table-admin
    %thead
      %tr
        %th Numer
        %th Tytuł
        %th Autorzy
        %th Status
    %tbody
      - @articles.each do |article|
        %tr.table-row-link{"data-url" => article_path(article) }
          %td= article.issue_title
          %td= link_to article.title, article
          %td= article.authors_inline
          %td{class: "#{Article::STATUS_MAPPING[article.status]}"}= article.status
