= render partial: "timeline"
.scroll-panel-body
  - if @submission.authorships.count > 0 # empty? doesn't worke since we have a fresh authorship
    = render partial: "authors"
  = render partial: "author_form"
