%h3 
  "Szanowna Pani / Szanowny Panie #{@review.person.surname}"
\
%p
  Przypominamy, że upływa termin napisania recenzji dla artykułu:
  = @review.title
  Ostatnia wersji artukułu znajduje się pod tym linkiem: 
  = link_to @review.article_revision.file_name, @review.article_revision.article.url
  Pod adresem www.cośtamcomaprzygotowac_ziarko.pl znajduje się formularz, 
  który należy wypełnić, aby dodać recenzję.
  \
  Z poważaniem,
  = @review.article_revision.editor.name + " " + @review.article_revision.editor.surname


