%h3
  Niepoprawna operacja

%p
  Decyzja o akceptacji recenzji została już podjęta.
  %br
  W razie pytań prosimy o kontakt z redaktorem
  = link_to @review.editor_email, "mailto:#{@review.editor_email}"
