%p
  Informacja o zmianie statusu recenzji dla artykułu
  = link_to @review.submission_title, submission_url(@review.submission)
  przygotowywanej przez
  = @review.reviewer
  %br/
  Aktualny status:
  %strong= @review.status
