%h3 
"Szanowna Pani / Szanowny Panie #{@submission.corresponding_author_surname}"
\
%p
informujemy, że przesłane zgłoszenie: 
= @submission.title 
zostało przyjęte do systemu. O tym, czy artykuł został zaakceptowany poinformujemy w osobnym mailu.
\
Z poważaniem,
redakcja Rocznika Kognitywistycznego

