%h3
  Szanowna Pani/ Szanowny Panie #{@submission.person.surname}
%p
  W imieniu redakcji Rocznika Kognitywistycznego,
  informujemy o zmianie statusu artykułu: "#{@submission.title}"
  na "#{@submission.status}"
%p
  Z wyrazami szacunku,
  redaktor