/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.middle-row {
  margin-top: 60px;
}

body, .page-container, .middle-row, .main {
  height: 100%;
}

.scroll-panel-header {
  border-bottom: 1px solid #F1F1F1;
  height: 65px;
  padding: 10px 20px;
}

h3.scroll-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
}

.scroll-panel-body {
  padding-left: 20px;
  padding-bottom: 20px;
}

td.asked, td.editor, dd.asked, dd.editor {
  background-color: #ffff00;
}

td.accepted, td.review, dd.accepted, dd.review {
  background-color: #94c5f4;
}

td.rejected, dd.rejected {
  background-color: #94476b;
}
td.positive, dd.positive {
  background-color: #3deb3d;
}
td.negative, dd.negative {
  background-color: #ff0000;
}
td.minor_review, dd.minor_review {
  background-color: #f49e33;
}
td.major_review, dd.major_review {
  background-color: #ff791e;
}
td.blacklist, dd.blacklist {
  background-color: #000000;
  color: #ffffff;
}
td.extension, dd.extension {
  background-color: #ff6633;
}

.checkbox_container {
  display: block;
}
.checkbox_container input[type="checkbox"] {
  display: inline;
  margin-right: 4px;
}

.flash {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
}

.flash .flash-error {
  padding: 10px 40px;
  background: #e25440 none repeat scroll 0% 0%;
  color: #fff;
}

input[type=file].file.form-control {
  border: none;
  box-shadow: none;
  padding: 0;
}

#review_content{
  height: 400px;
}

.helpbox{
	float: left;
	margin-right:6px;
	margin-top:2px; 
}
.fb-like, .twitter-like, .sm-buttons{
    padding-top: 5%;
}