// Place all the styles related to the article_revisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixed{
  position: fixed;
  top: 50px;
  background: white;
  width: 100%
}

.static{
  position: static;
}