%p
  Informujemy, że artykuł:
  = "'#{@submission.title}'"
  został przyjęty do systemu. O tym, czy artykuł został zaakceptowany poinformujemy w osobnej wiadomości.

%p
  Z poważaniem,
  %br
  Redakcja Rocznika Kognitywistycznego

