!!!html5
%html{style: "height: 100%;", lang: "pl"}
  = render file: "shared/head"
  %body{style: "height: 100%"}
    .page-container
      %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        = render file: "shared/topnav"
      .flash
        = render file: "shared/flash"
      .container.middle-row
        .row.row-offcanvas.row-offcanvas-left{style: "height: 100%"}
          .col-md-12.col-sm-8.main
            = yield
